<!DOCTYPE html>
<html>
<head>
  <title>Brain Viewer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>

  <%= yield :shaders %>
</head>
<body>

<%= yield %>

</body>
</html>
