<!DOCTYPE html>
<html>
<head>
  <title>BabyBrain (awww...)</title>
  <%= stylesheet_link_tag    "jquery-ui/jquery-ui-1.8.10.custom.css" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "webgl/mrl" %>
  <%= javascript_include_tag "webgl/webgl-utils" %>
  <%= javascript_include_tag "webgl/glMatrix-0.9.5.min" %>
  <%= javascript_include_tag "webgl/mrlglwidget" %>
  <%= csrf_meta_tags %>

  <%= yield :shaders %>
</head>
<body>

<%= yield %>

</body>
</html>
